{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "season1.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

{{ partial "about.html" . }}

{{ partial "portfolio.html" . }}





<!-- {{ partial "cta.html" . }} -->

<!-- {{ partial "service.html" . }} -->

<!-- {{ partial "skill.html" . }} -->

<!-- {{ partial "funfacts.html" . }} -->

<!-- {{ partial "team.html" . }} -->

<!-- {{ partial "pricing.html" . }} -->

<!-- {{ partial "testimonial.html" . }} -->




<!-- {{ partial "blog.html" . }} -->

{{ partial "contact.html" . }}

<!-- {{ partial "map.html" . }} -->

{{ end }}
